{
        "listen": {
                "host": "127.0.0.1",
                "port": 6633,
                "workers": 1,
                "hostname": "localhost"
        },
        "sentry": {
                "host": "app.getsentry.com",
                "port": 443,
                "timeout": 10000,
                "protocol": "https",
                "projects": {
                        "UUID_string": {
                                "id": "SENTRY_PROJECT_ID",
                                "key": "SENTRY_KEY",
                                "secret": "SENTRY_SECRET",
                                "platform": "SENTRY_PLATFORM"
                        }
                }
        },
        "redis": {
                "host": "127.0.0.1",
                "port": 6379,
                "prefix": "errorproxy"
        },
        "statsd": {
                "host": "127.0.0.1",
                "port": 8125,
                "prefix": "errorproxy"
        }
}
